@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.heading {
margin-top: 2rem;
font-weight: 200;
}

.value-text {
    color: white;
}

.solar-data {
    margin-top: 2rem;
}

.solar-container {
    margin-top: 2rem;
}