<div class="dark bg-dark min-h-screen">
  <h1 class="text-white text-center heading" hlmH1>Roof Top Estimator</h1>
  <div class="container">
    <app-search-bar
      [initialValue]="defaultPlace.name"
      [map]="map"
      [zoom]="zoom"
      (locationChange)="onLocationChange($event)" 
      class="text-white"
    ></app-search-bar>

    <div class="row">
      <div class="w-100" style="height: 60vh;" #mapElement></div>
    </div>

    <div class="row">
      <app-building-insights
        [location]="location"
        [map]="map"
        [geometryLibrary]="geometryLibrary"
        [googleMapsApiKey]="googleMapsApiKey"
        class="text-white"
      >
      </app-building-insights>
    </div>
  </div>
</div>