<div class="dark bg-dark min-h-screen">
  <h1 class="text-white text-center heading" hlmH1>Roof Top Estimator</h1>
  <div class="container">
    <app-search-bar
      [initialValue]="defaultPlace.name"
      [map]="map"
      [zoom]="zoom"
      (locationChange)="onLocationChange($event)" 
      class="text-white"
    ></app-search-bar>

    <div class="row flex">
      <!-- Map Element -->
      <div class="w-2/3" style="height: 70vh;" #mapElement></div>

      <!-- Panel Information Block -->
      <div class="w-1/3 pl-4">
        <app-data-layers></app-data-layers>
      </div>

    </div>

    <div class="row">
      <app-building-insights
        [location]="location"
        [map]="map"
        [geometryLibrary]="geometryLibrary"
        [googleMapsApiKey]="googleMapsApiKey"
        class="text-white"
      >
      </app-building-insights>
    </div>
  </div>
</div>